section  {
  position: fixed;
  bottom: 0;
  color: white;
  background: url("./bg-bottom.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  width: 100%;
}

